In [1]:
## data enrichin
import pandas as pd
df=pd.read_csv("eda_hypothetical_dataset.csv")

In [ ]:
df["Age_Group"]=pd.cut(
    df["Age"],
    bins=[0,18,30,45,60,100],
    labels=["Teen","Young_Adult","Adult","senior","Elder"]
)

In [6]:
df.head()

,Customer_ID,Age,Gender,City,Signup_Date,Last_Purchase_Date,Product,Units_Sold,Price,Total_Amount,Income,Feedback_Score,Device,Promo_Code,Fraud_Flag,Churned,Age_Group
0,C1000,56.0,Female,Bangalore,2022-10-04,2023-10-10,C,1,800,800,33119.0,2.0,Desktop,LOYAL,0,1,Adult
1,C1001,69.0,Female,Kolkata,2024-01-31,2024-10-13,C,3,800,2400,47764.0,2.0,Desktop,SUMMER,0,1,Elder
2,C1002,46.0,Male,Delhi,2023-11-07,2024-05-22,B,30,1200,3600,49900.0,3.0,Desktop,NEWUSER,0,0,Adult
3,C1003,32.0,Male,Kolkata,2023-01-29,2023-11-28,C,2,800,1600,30213.0,4.0,Desktop,NEWUSER,0,1,senior
4,C1004,60.0,Female,Mumbai,2023-04-02,2023-04-12,C,2,800,1600,62067.0,4.0,Desktop,NONE,0,0,Adult

In [7]:
df["Expected_Revenue"]=df['Units_Sold']*df['Price']

In [8]:
df.head()

,Customer_ID,Age,Gender,City,Signup_Date,Last_Purchase_Date,Product,Units_Sold,Price,Total_Amount,Income,Feedback_Score,Device,Promo_Code,Fraud_Flag,Churned,Age_Group,Expected_Revenue
0,C1000,56.0,Female,Bangalore,2022-10-04,2023-10-10,C,1,800,800,33119.0,2.0,Desktop,LOYAL,0,1,Adult,800
1,C1001,69.0,Female,Kolkata,2024-01-31,2024-10-13,C,3,800,2400,47764.0,2.0,Desktop,SUMMER,0,1,Elder,800800800
2,C1002,46.0,Male,Delhi,2023-11-07,2024-05-22,B,30,1200,3600,49900.0,3.0,Desktop,NEWUSER,0,0,Adult,1200120012001200120012001200120012001200120012...
3,C1003,32.0,Male,Kolkata,2023-01-29,2023-11-28,C,2,800,1600,30213.0,4.0,Desktop,NEWUSER,0,1,senior,800800
4,C1004,60.0,Female,Mumbai,2023-04-02,2023-04-12,C,2,800,1600,62067.0,4.0,Desktop,NONE,0,0,Adult,800800

In [9]:
df["Revenue_difference"]=df['Total_Amount']-df['Expected_Revenue']

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Customer_ID         200 non-null    object
 1   Age                 195 non-null    float64
 2   Gender              195 non-null    object
 3   City                200 non-null    object
 4   Signup_Date         200 non-null    object
 5   Last_Purchase_Date  195 non-null    object
 6   Product             200 non-null    object
 7   Units_Sold          200 non-null    int64
 8   Price               200 non-null    object
 9   Total_Amount        200 non-null    int64
 10  Income              195 non-null    float64
 11  Feedback_Score      186 non-null    float64
 12  Device              200 non-null    object
 13  Promo_Code          197 non-null    object
 14  Fraud_Flag          200 non-null    int64
 15  Churned             200 non-null    int64
 16  Age_Group           194 non-null    category
 17  Expected_Revenue    200 non-null    object
dtypes: category(1), float64(3), int64(4), object(10)
memory usage: 27.1+ KB

In [ ]:
## customer activity duration
df['days_Active']=df['Last_purchase_Date']-df['Signup_Date']

KeyError: 'Last_purchase_Date'