In [1]:
import pandas as pd
df=pd.read_csv("eda_hypothetical_dataset.csv")

In [2]:
df.head()

,Customer_ID,Age,Gender,City,Signup_Date,Last_Purchase_Date,Product,Units_Sold,Price,Total_Amount,Income,Feedback_Score,Device,Promo_Code,Fraud_Flag,Churned
0,C1000,56.0,Female,Bangalore,2022-10-04,2023-10-10,C,1,800,800,33119.0,2.0,Desktop,LOYAL,0,1
1,C1001,69.0,Female,Kolkata,2024-01-31,2024-10-13,C,3,800,2400,47764.0,2.0,Desktop,SUMMER,0,1
2,C1002,46.0,Male,Delhi,2023-11-07,2024-05-22,B,30,1200,3600,49900.0,3.0,Desktop,NEWUSER,0,0
3,C1003,32.0,Male,Kolkata,2023-01-29,2023-11-28,C,2,800,1600,30213.0,4.0,Desktop,NEWUSER,0,1
4,C1004,60.0,Female,Mumbai,2023-04-02,2023-04-12,C,2,800,1600,62067.0,4.0,Desktop,NONE,0,0

In [ ]:
## data validation
## convert col into date time
invalid_dates=df[df["Last_Purchase_Date"]<df["Signup_Date"]]

In [4]:
invalid_dates

Empty DataFrame
Columns: [Customer_ID, Age, Gender, City, Signup_Date, Last_Purchase_Date, Product, Units_Sold, Price, Total_Amount, Income, Feedback_Score, Device, Promo_Code, Fraud_Flag, Churned]
Index: []

In [5]:
assert(df["Total_Amount"]==df["Units_Sold"]*df["Price"]).all()

AssertionError:

In [6]:
assert(df["Age"]<=100).all()

AssertionError:

In [ ]:
##.between(1,5)

In [ ]:
valid_city=[]
assert df["City"].isin(valid_city).all()

In [ ]:
## data publishing 
df.to_excel("finnal_df.xlsx")