In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("eda_hypothetical_dataset.csv")

In [3]:
df.isnull().sum()

Customer_ID            0
Age                    5
Gender                 5
City                   0
Signup_Date            0
Last_Purchase_Date     5
Product                0
Units_Sold             0
Price                  0
Total_Amount           0
Income                 5
Feedback_Score        14
Device                 0
Promo_Code             3
Fraud_Flag             0
Churned                0
dtype: int64

In [4]:
mean_age=df['Age'].mean()

In [5]:
df['Age_mean_imputed']=df['Age'].fillna(mean_age)

In [6]:
df.head()

,Customer_ID,Age,Gender,City,Signup_Date,Last_Purchase_Date,Product,Units_Sold,Price,Total_Amount,Income,Feedback_Score,Device,Promo_Code,Fraud_Flag,Churned,Age_mean_imputed
0,C1000,56.0,Female,Bangalore,2022-10-04,2023-10-10,C,1,800,800,33119.0,2.0,Desktop,LOYAL,0,1,56.0
1,C1001,69.0,Female,Kolkata,2024-01-31,2024-10-13,C,3,800,2400,47764.0,2.0,Desktop,SUMMER,0,1,69.0
2,C1002,46.0,Male,Delhi,2023-11-07,2024-05-22,B,30,1200,3600,49900.0,3.0,Desktop,NEWUSER,0,0,46.0
3,C1003,32.0,Male,Kolkata,2023-01-29,2023-11-28,C,2,800,1600,30213.0,4.0,Desktop,NEWUSER,0,1,32.0
4,C1004,60.0,Female,Mumbai,2023-04-02,2023-04-12,C,2,800,1600,62067.0,4.0,Desktop,NONE,0,0,60.0

In [7]:
## median imputation
median_income=df['Income'].median()

In [8]:
df['income_median_imputed']=df['Income'].fillna(median_income)

In [9]:
## mode imputation
mode_city=df['City'].mode()
df['city_mode_imputed']=df['City'].fillna(mode_city)

In [10]:
df['City'].mode()

0      Delhi
1    Kolkata
Name: City, dtype: object

In [11]:
df['City'].value_counts()

City
Kolkata       45
Delhi         45
Chennai       40
Mumbai        36
Bangalore     29
Bangalore      1
delhi          1
DELHI          1
mumbai         1
chennai        1
Name: count, dtype: int64

In [12]:
df[['Age','Age_mean_imputed']].isnull().sum()

Age                 5
Age_mean_imputed    0
dtype: int64

In [13]:
##  pip install scikitlearn 
import pandas as pd
import numpy as np
from sklearn.impute import KNNImputer
from sklearn.preprocessing import StandardScaler

In [15]:
## select numeric columns for the knn
knn_features=df[['Age','Income','Units_Sold','Total_Amount']]
scaler=StandardScaler()
scaled_feature=scaler.fit_transform(knn_features)
## apply knn imputer
imputer=KNNImputer(n_neighbors=5,weights='uniform')
imputed_scaled=imputer.fit_transform(scaled_feature)

/opt/anaconda3/envs/auto_ml/lib/python3.10/site-packages/sklearn/utils/extmath.py:203: RuntimeWarning: divide by zero encountered in matmul
  ret = a @ b
/opt/anaconda3/envs/auto_ml/lib/python3.10/site-packages/sklearn/utils/extmath.py:203: RuntimeWarning: overflow encountered in matmul
  ret = a @ b
/opt/anaconda3/envs/auto_ml/lib/python3.10/site-packages/sklearn/utils/extmath.py:203: RuntimeWarning: invalid value encountered in matmul
  ret = a @ b

In [ ]:
imputed_original=scaler.inverse_transform(imputed_scaled)


df_knn_imputed=df.copy()
imputed_original=df_knn_imputed[['Age','Income','Units_Sold','Total_Amount']]