In [2]:
import numpy as np
from scipy import stats
import pandas as pd
df=pd.read_csv("eda_hypothetical_dataset.csv")
z_scores=np.abs(stats.zscore(df['Income']))
outliers_z=df[z_scores>3]

In [4]:
outliers_z

Empty DataFrame
Columns: [Customer_ID, Age, Gender, City, Signup_Date, Last_Purchase_Date, Product, Units_Sold, Price, Total_Amount, Income, Feedback_Score, Device, Promo_Code, Fraud_Flag, Churned]
Index: []

In [5]:
Q1=df['Income'].quantile(0.25)
Q3=df['Income'].quantile(0.75)
IQR=Q3-Q1
lower_bound=Q1-1.5*IQR
upper_bound=Q3+1.5*IQR
outlier_iqr=df[
    (df['Income']<lower_bound) |
    (df['Income']>upper_bound)
]

In [6]:
outlier_iqr

,Customer_ID,Age,Gender,City,Signup_Date,Last_Purchase_Date,Product,Units_Sold,Price,Total_Amount,Income,Feedback_Score,Device,Promo_Code,Fraud_Flag,Churned
5,C1005,25.0,Male,Chennai,2022-07-11,2023-05-19,D,2,1500,3000,9999999.0,1.0,Desktop,LOYAL,0,1
92,C1091,64.0,Male,Delhi,2023-10-10,2024-09-09,B,4,1200,4800,-1000.0,3.0,Desktop,LOYAL,0,0

In [ ]:
## vizualization.... outlier