In [3]:
import pandas as pd

In [4]:
## Series
list1=[1,2,3,4,5] 
series1=pd.Series(list1) 
print(series1)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
type(series1)

pandas.core.series.Series

In [6]:
series2=pd.Series([1,2,3,4,5])
print(series2)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [7]:
## inspecting the components of Series
series2.array

<NumpyExtensionArray>
[1, 2, 3, 4, 5]
Length: 5, dtype: int64

In [8]:
series2.index

RangeIndex(start=0, stop=5, step=1)

In [11]:
##custom indexing 
obj=pd.Series([10,20,30,40],index=["d","b","a","c"])
print(obj)

d    10
b    20
a    30
c    40
dtype: int64

In [14]:
## Accessing the elements
obj[["a","b","c"]]

a    30
b    20
c    40
dtype: int64

In [15]:
obj["d"] = 6

In [16]:
obj

d     6
b    20
a    30
c    40
dtype: int64

In [17]:
obj*2

d    12
b    40
a    60
c    80
dtype: int64

In [18]:
mask=obj>2

In [19]:
mask

d    True
b    True
a    True
c    True
dtype: bool

In [21]:
obj[obj>10]

b    20
a    30
c    40
dtype: int64

In [ ]:
(obj*2)[obj>20]

a    60
c    80
dtype: int64

In [23]:
doubled= obj*2
doubled[doubled>20]

b    40
a    60
c    80
dtype: int64

In [ ]:
## creating a  series from dict
sdata= {
    "shimla": 35000,
    "chandigrah": 71000,
    "hamirpur": 16000,
    "pune": 5000
}

obj2=pd.Series(sdata)
print(obj2)

shimla        35000
chandigrah    71000
hamirpur      16000
pune           5000
dtype: int64

In [27]:
## forcing thr custom order 
city =["delhi","hamirpur","pune","shimla"]
obj3=pd.Series(sdata,index=city)
print(obj3)

delhi           NaN
hamirpur    16000.0
pune         5000.0
shimla      35000.0
dtype: float64

In [28]:
pd.isna(obj3)

delhi        True
hamirpur    False
pune        False
shimla      False
dtype: bool

In [29]:
pd.notna(obj3)

delhi       False
hamirpur     True
pune         True
shimla       True
dtype: bool

In [30]:
obj3.dropna()

hamirpur    16000.0
pune         5000.0
shimla      35000.0
dtype: float64

In [31]:
obj3.fillna(0)

delhi           0.0
hamirpur    16000.0
pune         5000.0
shimla      35000.0
dtype: float64

In [41]:
## automatic Allignment
A=pd.Series([100,50], index=["mon","tue"])
print("Series:\n", A)

Series:
 mon    100
tue     50
dtype: int64

In [42]:
B=pd.Series([150,50], index=["mon","wed"])
print("Series:\n", B)

Series:
 mon    150
wed     50
dtype: int64

In [43]:
print(A+B)

mon    250.0
tue      NaN
wed      NaN
dtype: float64

In [37]:
obj3.name= "Population"
print(obj3)

delhi           NaN
hamirpur    16000.0
pune         5000.0
shimla      35000.0
Name: Population, dtype: float64

In [38]:
obj3.index.name = "city"
print(obj3)

city
delhi           NaN
hamirpur    16000.0
pune         5000.0
shimla      35000.0
Name: Population, dtype: float64

In [39]:
Temp_s=pd.Series([4,5,6,-7])
print(Temp_s)

0    4
1    5
2    6
3   -7
dtype: int64

In [40]:
Temp_s.index = ["nitish", "muskan", "palak", "Aditya"]
print(Temp_s)

nitish    4
muskan    5
palak     6
Aditya   -7
dtype: int64